PORT=1212
MONGODB_URI=lol
ADMIN_NAME=doctor_name
ADMIN_EMAIL=doctor@example.com
ADMIN_PASSWORD=replace_with_strong_password
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
JWT_SECRET=replace_with_long_random_secret
JWT_EXPIRES_IN=7d